.transactionHistory {
  margin: 20px 0;
  border-spacing: 0;
	border: 1px solid rgba(2, 182, 206, 0.2);
	border-radius: 4px;
}

th {
  min-width: 120px;
  text-align: center;
  color: #fff;
  background-color: #00b7cf;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
th:last-child {
 border-right: none;
}
td {
  color: #696969;
	border-right: 1px solid rgba(0, 183, 207, 0.2);

}
td:last-child {
border-right: none;
}
th,
td {
  padding: 10px;
  height: 20px;
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #eee;
}
